{
  "whitelist": [
    "asyncToGenerator",
    "es6.modules",
    "es6.parameters",
    "es6.destructuring",
    "es6.spread",
    "strict"
  ],
  "stage": 1,
  "loose": [
    "es6.modules",
    "es6.classes"
  ],
  "env": {
    "production": {
      "optional": ["optimisation"]
    }
  }
}
