{
  "rules": {
    "quotes": [2, "single"],
    "semi": [2, "always"]
  },
  "env": {
    "node": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  }
}
