{
    "ecmaFeatures": {
        "modules": true
    },
    "rules": {
        "quotes": [
            1,
            "single"
        ],
        "semi": [
            2,
            "never"
        ],
        "no-underscore-dangle": 0,
        "no-shadow": 0
    },
    "env": {
        "node": true,
        "mocha": true,
        "es6": true
    },
    "parser": "babel-eslint"
}
